<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--这是映射文件，编写sql语句-->
<!--
        namespace:这是mapper接口的全类名
        -->
<mapper namespace="com.hzj.Mapper.BlogConfigMapper">
    <resultMap id="BaseResultMap" type="com.hzj.pojo.BlogConfig">
        <id column="config_name" jdbcType="VARCHAR" property="configName" />
        <result column="config_value" jdbcType="VARCHAR" property="configValue" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
        config_name, config_value, create_time, update_time
    </sql>
    <select id="getConfigAll" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from tb_config
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tb_config
        where config_name = #{configName,jdbcType=VARCHAR}
    </select>
    <update id="updateByPrimaryKeySelective" parameterType="com.hzj.pojo.BlogConfig">
        update tb_config
        <set>
            <if test="configValue != null">
                config_value = #{configValue,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where config_name = #{configName,jdbcType=VARCHAR}
    </update>
</mapper>