<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--这是映射文件，编写sql语句-->
<!--
        namespace:这是mapper接口的全类名
        -->
<mapper namespace="com.hzj.Mapper.BlogTagMapper">
    <resultMap id="BaseResultMap" type="com.hzj.pojo.BlogTag">
        <id column="tag_id" jdbcType="INTEGER" property="tagId"/>
        <result column="tag_name" jdbcType="VARCHAR" property="tagName"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        tag_id, tag_name, is_deleted, create_time
    </sql>
    <select id="selectByNameTag" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_blog_tag
        where tag_name=#{blogTags}
    </select>
    <insert id="batchInsertBlogTag" parameterType="java.util.List" useGeneratedKeys="true"
            keyProperty="tagId">
        INSERT into tb_blog_tag(tag_name)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.tagName})
        </foreach>
    </insert>
    <select id="selectAllTag" resultMap="BaseResultMap" parameterType="Map">
        select <include refid="Base_Column_List"/>
        from tb_blog_tag
        where is_deleted=0
        order by tag_id desc
        <if test="start!=null and limit!=null">
            limit #{start},#{limit}
        </if>
    </select>
    <select id="getAllCountTag" parameterType="Map" resultType="int">
        select count(*)
        from tb_blog_tag
        where is_deleted=0
    </select>
    <insert id="insertTag">
        INSERT into tb_blog_tag(tag_name)
        VALUES(#{tagName})
    </insert>
    <update id="deleteTag" parameterType="com.hzj.pojo.BlogTag">
        update tb_blog_tag
        set is_deleted=1 where tag_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>